@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

* {
  font-family: 'Inter', sans-serif;
}

@layer base {
  .group {
    /* // Override the default text color */
    color: #000;
    /* // Override the hover state text color */
    &:hover {
      color: #fff;
    }
  }
}

.flip-on-hover {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-on-hover:hover {
  transform: rotateY(180deg);
}
